
#create-button{
    background-color:rgb(245, 66, 66)
}
#join-button{
    background-color:rgb(66, 164, 245);
}
#T{
    color:violet;
}
#I{
    color:green;
}
#P{
    color:orange;
}
#S{
    color:red;
}
#Y{
    color:  blue;
}
#home-container{ 
    font-family:roboto;
    width:100vw;
    height:120vh;
    background-color:#FFC1C1;
    background-size:cover;
}
.linkButton{
    display:flex;
    justify-content:center;
    text-decoration: none;
    align-items:center;
    font-family:roboto;
}
#home-controls{
    display:flex;
    position:relative;
    top:5vh;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
@media(min-width:1001px){

    .button{
        width:25%;
        height:70px;
        font-size:1.4em;  
        color:white;  
        font-weight: 900;
        border-radius:30px;
        border-style:none;
        margin-top:10px;
    
    }


    .mainHeader{
        text-align:center;
        font-size:10em;
        font-weight:900;
    
    }
    
    


}
@media (max-width:1000px){
    .button{
        width:70%;
        height:70px;
        font-size:1.4em;  
        color:white;  
        font-weight: 900;
        border-radius:30px;
        border-style:none;
        margin-top:10px;
    
    }
    .mainHeader{
        text-align:center;
        font-size:5em;
        font-weight:900;
    
    }
    
}
@media (max-width:800px){
    .button{
        width:80%;
        height:70px;
        font-size:1.2em;  
        color:white;  
        font-weight: 900;
        border-radius:30px;
        border-style:none;
        margin-top:10px;
    
    }
    .mainHeader{
        text-align:center;
        font-size:5em;
        font-weight:900;
    
}
}