#lobby-container{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.playerList{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    width:50vw;
    height:50vh;
    align-items:center
}
.playerList li{
    list-style-type:none;
}
#start-game-button{
    width:30vw;
    height: 10vh;
    background-color:green;
    border-style:none;
    border-radius:100px;
    font-size:2em;
    animation:colorChange 11s infinite;
    margin-top:40px;
    color:white;
    font-weight:900
}
@keyframes colorChange{
    10%{background-color:blue}
    20%{background-color:red;}
    30%{background-color:green;}
    40%{background-color:blue;}
    50%{background-color: orange}
    60%{background-color: violet}
    70%{ background-color:blue}
    80%{background-color: red;}
    90%{background-color: green}
    100%{background-color:orange}
}
.lobbyHeader{
    font-size:5em;
}
.player{
    font-size:2em;
    font-weight:800;
}