.playerAndScore{
    font-size:2em;
    font-weight:900;
    text-align:center;
    list-style-type: none;
    margin-bottom:20px;
}

.scoreHeader{
    text-align:center;
    
}
.scoreDisplay{
    margin-top:24vh;
    border:solid 1px black
}