.playerAndScore{
    font-size:2em;
    font-weight:900;
    text-align:center;
    margin-bottom:20px;
    list-style-position: inside;
    color:gold;
}

.scoreHeader{
    text-align:center;
}
.scoreDisplay{
    border:solid 1px black
}
.beerImage{
    width:40px;
        
}
.needsDrink{
    width:20vw;
    font-size:2em;
    font-weight:800;
    display:flex;
    align-items:center;
    position:relative;
    left:24vw;
    animation:colorChangeColor  10s infinite;
    flex-direction:row;
}
.scoreImage{
    width:400px;
}
.loserContainer{
    display:flex;
    flex-direction:row;
}
.scoreContainer{
    width:100vw;
    height:100vh;
    background-image:url("./jason-leung-Xaanw0s0pMk-unsplash.jpg");
    background-size:cover;
    position:fixed;
}