.questionsAndAnswers{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.questionHeader{
    color:white;
    font-weight:900;
    font-size:4em;
    text-shadow: 2px 2px #ff0000;
}
.bothPlayers{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.playerOne{


    width:30vw;
    // background-image:url("./searchpng.com-speech-bubble-png-image-free-download-2.png");
    // background-size:cover;
    
    // text-align: center;
    background-color:blue;
    margin-top:30vh;
    border:solid black 1px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:30px;
    margin-right:20px;
    color:white;
}

.playerTwo{
    width:30vw;
    // background-image:url("./searchpng.com-speech-bubble-png-image-free-download-2.png");
    // background-size:cover;
    
    // text-align: center;
    background-color:red;
    margin-top:30vh;
    border:solid black 1px;
    border-radius:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:30px;
    margin-left:20px;
    color:white;
}


.playerName{
    font-size:1.5em;
    font-weight:900;
    
}
.answer{
    font-size:2em;
    font-weight:900;
    max-width:350px
}

.votedByList{
    list-style-type:none ;
    font-size:1.6em;
    font-weight:900;
    display:flex;
    align-items:center;
}
.thumbsUp{
    width:50px;
}

#vote-screen-container{
    width:100vw;
    height:100vh;
    background-image:url("./votingBackground.jpg");
    background-size:cover;
}